<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>测试邮件</title>
    <style type="text/css">
        body{font-family:"Times New Roman",Georgia,Serif}
    </style>
</head>
<body>
    <p>用户您好:</p>
    <p>欢迎使用OneStop邮件工具类</p>
    <p>
        os:
        mail:
        # 开启邮件工具类
        isopen: true
        # 邮件服务器的SMTP地址 默认：126
        #    host: smtp.126.com
        # 邮件服务器的SMTP端口 默认：25
        #    port: 25
        # 发件人（必须正确，否则发送失败）
        from: changhongyuan@126.com
        # 用户名（注意：如果使用foxmail邮箱，此处user为qq号）
        user: changhongyuan@126.com
        # 密码（注意，某些邮箱需要为SMTP服务单独设置密码，详情查看相关帮助）
        pass: BYDCRXQXRVYBIRUL
        #使用 STARTTLS安全连接，STARTTLS是对纯文本通信协议的扩展。
        #    starttlsEnable: true
        # 使用SSL安全连接
        #    sslEnable: false
    </p>
    <p>祝顺利！</p>
    <br>
    <div th:include="footer :: pagination"></div>
</body>
</html>